spring:
  datasource:
    url: jdbc:h2:mem:pricing
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
  sql:
    init:
      mode: always
  data:
    jdbc:
      repositories:
        enabled: false
    jpa:
      hibernate:
        ddl-auto: none
      properties:
        hibernate:
          dialect: org.hibernate.dialect.H2Dialect
  liquibase:
    change-log: classpath:db/changelog/changelog.yml
    enabled: true