spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
  sql:
    init:
      mode: always
  data:
    jdbc:
      repositories:
        enabled: true
  liquibase:
    change-log: classpath:db/changelog/changelog.yml
    enabled: true